<select [(ngModel)]="selectedPosition" (change)="ngOnInit()">
    <option value="0">Todos</option>
    <option value="1">Porteros</option>
    <option value="2">Defensas</option>
    <option value="3">Medios</option>
    <option value="4">Delanteros</option>
    <option value="5">Entrenadores</option>
</select>
<br>
<div *ngIf="players!=null; else espera">
    <table class="table">
        <tr>
            <td style="text-align: center"><b>Nombre</b></td>
            <td colspan="5" style="text-align: center"><b>Últimas jornadas</b></td>
            <td><b>Puntos</b></td>
        </tr>
        <tr *ngFor="let player of players">
            <td><a routerLink="/players/detail/{{player.slug}}">{{player.name}}</a>
            </td>
            <td *ngFor="let fitness of player.fitness">
                <app-fitness [value]="fitness"></app-fitness>
            </td>
            <td style="text-align: center">{{player.points}}</td>
        </tr>
    </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>