<div *ngIf="player!=null; else espera">
    <table class="table">
        <tr>
            <td>Nombre</td>
            <td>Equipo</td>
            <td>Posición</td>
            <td>Precio</td>
            <td>Incremento</td>
            <td>Status</td>
            <td>P. jugados Casa</td>
            <td>P. jugados Fuera</td>
            <td colspan="5">Últimas jornadas</td>
            <td>Puntos</td>
            <td>Puntos Casa</td>
            <td>Puntos Fuera</td>
            <td>Puntos Última temporada</td>
        </tr>
        <tr>
            <td>{{player.name}}</td>
            <td>{{player.teamID}}</td>
            <td>{{player.position}}</td>
            <td>{{player.price}}</td>
            <td>{{player.priceIncrement}}</td>
            <td>{{player.statusInfo}}</td>
            <td>{{player.playedHome}}</td>
            <td>{{player.playedAway}}</td>
            <td *ngFor="let fitness of player.fitness">
                <app-fitness [value]="fitness"></app-fitness>
            </td>
            <td>{{player.points}}</td>
            <td>{{player.pointsHome}}</td>
            <td>{{player.pointsAway}}</td>
            <td>{{player.pointsLastSeason}}</td>
        </tr>
    </table>
    <a routerLink="/players/list">Volver</a>
</div>
<ng-template #espera>Esperando datos...</ng-template>